<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Puanlama - Ritez</title>
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/img/icon.png' %}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet"/>
    <script type="text/javascript">
function preback(){window.history.forward();}
setTimeout("preback()",0);
window.onunload=function(){null};
    </script>


</head>
<body id="page-top" style="
background-image: url({% static random_img_path %});
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(0,0,0,0.9);
background-blend-mode: overlay;">

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: rgba(0,0,0,0.9);">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="../../../">RITEZ</a>

        <!--        <div class="collapse navbar-collapse" id="navbarResponsive">-->
        <!--            <ul class="navbar-nav ms-auto">-->
        <!--                <li class="nav-item"><a class="nav-link" href="#about">Hakkında</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="#projects">Projeler</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="#signup">İletişim</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
</nav>
<div class="row" style=" justify-content:center;margin:25px;margin-top:50px;">
    <div class="card text-center" style="width: 18rem; margin-top:50px;">
        <div class="card-header">
            SORU {{exerciseNumber}}
        </div>
        <div class="card-body">

            <h1 class="card-title">{{grade}}</h1>
            <p class="card-text">{{message}}</p>
            <a href="#results" class="btn btn-primary">Ayrıntılar Aşağıda</a>
        </div>
    </div>
</div>


<div id="results" style="padding:0px; margin:50px; border-radius:25px; overflow:hidden;">
    {{ graph_div|safe }}
</div>
<div class="row" style="width:100%; justify-content: center;">
    <div class="row" style="width:80%;justify-content: center;">
        <div class="col-sm-6" style="background:rgba(255,255,255,0.0); min-width:350px; max-width:49%; margin:5px;">
            <div class="card" style="background:rgba(255,255,255,0.5);">
                <div class="card-body" style="text-align: center; overflow: hidden; ">
                    <h5 class="card-title">Referans</h5>
                    <audio controls>
                        <source src="{% static ref_path %}" type="audio/wav">
                    </audio>

                </div>
            </div>
        </div>
        <div class="col-sm-6" style="background:rgba(255,255,255,0.0); min-width:350px; max-width:49%; margin:5px;">
            <div class="card" style="background:rgba(255,255,255,0.5);">
                <div class="card-body" style="text-align: center; overflow: hidden;">
                    <h5 class="card-title">Performans</h5>
                    <audio controls>
                        <source src="{% static per_path %}" type="audio/wav">
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin:10%;margin-top:25px;justify-content: center;">
    <div class="btn-group btn-group-justified">
        <a href="../../{{exerciseNumber}}" class="btn btn-primary">Soruyu Tekrarla</a>
        <a href="../../../" class="btn btn-primary">Ana Sayfa</a>
        <a href="{{next_exercise_link}}" class="btn btn-primary">{{next_exercise_message}}</a>
    </div>
</div>


</body>