<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Ritez</title>
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/img/icon.png' %}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">Öğrenmeye Başla</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">Hakkında</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Projeler</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">İletişim</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">RITEZ</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Ritim ve Ezgi İcra Egzersiz Uygulaması</h2>
                <a class="btn btn-lg btn-primary" href="rhythm/1" title="Kendini Test Et">Ritim Egzersizleri</a>
                <a class="btn btn-dark btn-lg" role="button" aria-disabled="true" href="melody/1" title="Kendini Test Et">Ezgi
                    Egzersizleri</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Öğrenci Müzik Egzersiz İcrası Otomatik Notlandırma</h2>
                <p class="text-white-50">
                    Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply
                    download the template on
                    <a href="https://startbootstrap.com/theme/grayscale/">the preview page.</a>
                    The theme is open source, and you can use it for any purpose, personal or commercial.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="{% static 'home/assets/img/idu-logo.png' %}" alt="..."
             style="margin-bottom: 50px;"/>
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0"
                                                src="{% static 'home/assets/img/muze.jpg' %}"
                                                alt="..."/></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Ritez</h4>
                    <p class="text-black-50 mb-0">Temel araştırma hedefimiz iki ayrı tür müzik egzersizi için öğrenci
                        icrasının başarı seviyesini bir
                        müzik eğitmeni kadar doğru bir şekilde otomatik olarak kestirebilen bir sistemin
                        gerçekleştirilmesidir. Birinci tür müzik egzersizi ses eğitiminde yaygın egzersiz olan ud ile
                        çalınan bir ezginin insan sesiyle tekrarıdır. İkinci tür müzik egzersizi ise elle veya cisimle
                        vurarak yapılan ritmik tekrardır.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'home/assets/img/bendir-wallpaper.jpg' %}"
                                       alt="..."/></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Ritim</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or
                                anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 ms-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'home/assets/img/ensturmanlar.jpg' %}"
                                       alt="..."/></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Ezgi</h4>
                            <p class="mb-0 text-white-50">Another example of a project with its respective description.
                                These sections work well responsively as well, try this theme on a small screen!</p>
                            <hr class="d-none d-lg-block mb-0 me-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<!--<section class="signup-section" id="signup">-->
<!--    <div class="container px-4 px-lg-5">-->
<!--        <div class="row gx-4 gx-lg-5">-->
<!--            <div class="col-md-10 col-lg-8 mx-auto text-center">-->
<!--                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>-->
<!--                <h2 class="text-white mb-5">Subscribe to receive updates!</h2>-->
<!--                &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--                &lt;!&ndash; * * SB Forms Contact Form * *&ndash;&gt;-->
<!--                &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--                &lt;!&ndash; This form is pre-integrated with SB Forms.&ndash;&gt;-->
<!--                &lt;!&ndash; To make this form functional, sign up at&ndash;&gt;-->
<!--                &lt;!&ndash; https://startbootstrap.com/solution/contact-forms&ndash;&gt;-->
<!--                &lt;!&ndash; to get an API token!&ndash;&gt;-->
<!--                <form class="form-signup" id="contactForm" data-sb-form-api-token="API_TOKEN">-->
<!--                    &lt;!&ndash; Email address input&ndash;&gt;-->
<!--                    <div class="row input-group-newsletter">-->
<!--                        <div class="col"><input class="form-control" id="emailAddress" type="email"-->
<!--                                                placeholder="Enter email address..." aria-label="Enter email address..."-->
<!--                                                data-sb-validations="required,email"/></div>-->
<!--                        <div class="col-auto">-->
<!--                            <button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.-->
<!--                    </div>-->
<!--                    <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>-->
<!--                    &lt;!&ndash; Submit success message&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash; This is what your users will see when the form&ndash;&gt;-->
<!--                    &lt;!&ndash; has successfully submitted&ndash;&gt;-->
<!--                    <div class="d-none" id="submitSuccessMessage">-->
<!--                        <div class="text-center mb-3 mt-2 text-white">-->
<!--                            <div class="fw-bolder">Form submission successful!</div>-->
<!--                            To activate this form, sign up at-->
<!--                            <br/>-->
<!--                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Submit error message&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash; This is what your users will see when there is&ndash;&gt;-->
<!--                    &lt;!&ndash; an error submitting the form&ndash;&gt;-->
<!--                    <div class="d-none" id="submitErrorMessage">-->
<!--                        <div class="text-center text-danger mb-3 mt-2">Error sending message!</div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Contact-->
<<section class="contact-section bg-black" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50">4923 Market Street, Orlando FL</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto"/>
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Your Website 2022</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'home/js/scripts.js' %}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
