<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Ritim Egzersizi - Ritez</title>
    <!-- -->
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/img/icon.png' %}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'home/css/styles.css' %}" rel="stylesheet"/>
    <!-- -->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
</head>
<body id="page-top" style="
background-image: url({% static random_img_path %});
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(0,0,0,0.9);
background-blend-mode: overlay;">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: rgba(0,0,0,0.9);">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="../../../">RITEZ</a>

        <!--        <div class="collapse navbar-collapse" id="navbarResponsive">-->
        <!--            <ul class="navbar-nav ms-auto">-->
        <!--                <li class="nav-item"><a class="nav-link" href="#about">Hakkında</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="#projects">Projeler</a></li>-->
        <!--                <li class="nav-item"><a class="nav-link" href="#signup">İletişim</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
    </div>
</nav>
<!-- listen-->

<div class="row" style="width:100%; justify-content: center;">
    <div class="row" style="margin:25px; margin-top:100px; width:40%; min-width:400px;">
        <div class="col" style="background:rgba(255,255,255,0.0);">
            <div class="card" style="background:rgba(255,255,255,0.5);">
                <div class="card-header">
                    SORU {{exerciseNumber}}
                </div>
                <div class="card-body" style="text-align: center; overflow: hidden;">
                    <h2 class="card-title">Referans</h2>
                    <audio controls id="Player">
                        <source src="{% static ref_path %}" type="audio/wav">
                    </audio>
                    <div class="card-body">
                        <h6 class="card-title">Referans Kaydı Dinledikten Sonra Kendi Performansını Kayıt
                            Edebilirsin</h6>
                        <div id="record-wrapper">
                            <a id="record" uk-tooltip="Record the audio" type="button"
                               class="btn btn-info">Kaydet
                            </a>
                        </div>
                        <div id="stop-wrapper" class="uk-hidden">
                            <a class="btn btn-danger" uk-tooltip="Stop recording the audio" href="#result"
                               id="stop" type="button">Durdur
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width:100%; justify-content: center; margin-top:25px;">
    <div class="row" style="margin:25px; width:40%; min-width:400px;">
        <div class="col" style="background:rgba(255,255,255,0.0);">
            <div class="card" style="background:rgba(255,255,255,0.5);">
                <div class="card-body" style="text-align: center; overflow: hidden;">
                    <h2 class="card-title">Performans</h2>
                    <audio id="result" controls>
                        Your browser does not support the audio element.
                    </audio>
                    <div class="d-grid gap-3" style="margin-top: 10px;">
                        <button id="submit" onclick="location.href='grading'" disabled
                                class="btn btn-lg btn-primary">
                            GÖNDER
                        </button>
                        <input type="hidden" id="title" name="variable" value="{{ref_name}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>var csrf='{{csrf_token}}';</script>
<script src="{% static 'home/js/recorder.js' %}"></script>

</html>